<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <ul>
    <% @project.tasks.each do |task| %>
      <li><b>Task: </b><%= task.name %> </li>     
    <% end %>

  </ul>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
